
body {
	margin: O auto;
	box-sizing: border-box;
}

p {
	font-size: 55px;
}

h1 {
	font-size: 33px;
	text-align: center;
}

h3 {
	font-size: 24px;
	text-align: center;
}

#playerNameInput {
	padding: 10px;
	background-color: gray;
}

#playerInputsName {
	margin: 0 auto;
	padding: 20px;
}

.rpsChoices {
	background-color: #FFEA00;
	padding: 20px;
	margin: 0 auto;
	
}

#displayWinLossTie {
	border: solid 3px red;
	height: 200px;
}

